<br>
<h2> How to use Stock App:</h2><br>
<p> This Stock App only support stock search using the standard company symbol used in the market place.<br> It means you need to use the standard company symbol to reach the stock data for given company.<br> Below you can find the symbols used in 50 most commom companies. Check it out!</p>
{{posted_stuff}}


<table border="1">
<tbody>
<tr><td>Symbol</td>        <td> Company Name</td></tr>
<tr><td>AAPL</td><td> Apple Inc. Common Stock</td></tr>
<tr><td>MSFT</td><td> Microsoft Corporation Common Stock</td></tr>
<tr><td>GOOGL</td><td> Alphabet Inc. Class A Common Stock</td></tr>
<tr><td>GOOG</td><td> Alphabet Inc. Class C Capital Stock</td></tr>
<tr><td>AMZN</td><td> Amazon.com - Inc. Common Stock</td></tr>
<tr><td>TSLA</td><td> Tesla - Inc. Common Stock</td></tr>
<tr><td>FB</td><td> Meta Platforms - Inc. Class A Common Stock</td></tr>
<tr><td>TSM</td><td> Taiwan Semiconductor Manufacturing Company Ltd.</td></tr>
<tr><td>NVDA</td><td> NVIDIA Corporation Common Stock</td></tr>
<tr><td>V</td><td> Visa Inc.</td></tr>
<tr><td>UNH</td><td> UnitedHealth Group Incorporated Common Stock (DE)</td></tr>
<tr><td>JNJ</td><td> Johnson & Johnson Common Stock</td></tr>
<tr><td>JPM</td><td> JP Morgan Chase & Co. Common Stock</td></tr>
<tr><td>BAC</td><td> Bank of America Corporation Common Stock</td></tr>
<tr><td>PG</td><td> Procter & Gamble Company (The) Common Stock</td></tr>
<tr><td>WMT</td><td> Walmart Inc. Common Stock</td></tr>
<tr><td>HD</td><td> Home Depot - Inc. (The) Common Stock</td></tr>
<tr><td>MA</td><td> Mastercard Incorporated Common Stock</td></tr>
<tr><td>XOM</td><td> Exxon Mobil Corporation Common Stock</td></tr>
<tr><td>BABA</td><td> Alibaba Group Holding Limited American Depositary Shares each representing eight Ordinary share</td></tr>
<tr><td>PFE</td><td> Pfizer - Inc. Common Stock</td></tr>
<tr><td>TM</td><td> Toyota Motor Corporation Common Stock</td></tr>
<tr><td>NTES</td><td> NetEase - Inc. American Depositary Shares</td></tr>
<tr><td>ASML</td><td> ASML Holding N.V. New York Registry Shares</td></tr>
<tr><td>KO</td><td> Coca-Cola Company (The) Common Stock</td></tr>
<tr><td>CVX</td><td> Chevron Corporation Common Stock</td></tr>
<tr><td>DIS</td><td> Walt Disney Company (The) Common Stock</td></tr>
<tr><td>ABBV</td><td> AbbVie Inc. Common Stock</td></tr>
<tr><td>AVGO</td><td> Broadcom Inc. Common Stock</td></tr>
<tr><td>ADBE</td><td> Adobe Inc. Common Stock</td></tr>
<tr><td>PEP</td><td> PepsiCo - Inc. Common Stock</td></tr>
<tr><td>TMO</td><td> Thermo Fisher Scientific Inc Common Stock</td></tr>
<tr><td>CSCO</td><td> Cisco Systems - Inc. Common Stock (DE)</td></tr>
<tr><td>LLY</td><td> Eli Lilly and Company Common Stock</td></tr>
<tr><td>COST</td><td> Costco Wholesale Corporation Common Stock</td></tr>
<tr><td>NKE</td><td> Nike - Inc. Common Stock</td></tr>
<tr><td>ABT</td><td> Abbott Laboratories Common Stock</td></tr>
<tr><td>NVO</td><td> Novo Nordisk A/S Common Stock</td></tr>
<tr><td>VZ</td><td> Verizon Communications Inc. Common Stock</td></tr>
<tr><td>CMCSA</td><td> Comcast Corporation Class A Common Stock</td></tr>
<tr><td>ACN</td><td> Accenture plc Class A Ordinary Shares (Ireland)</td></tr>
<tr><td>ORCL</td><td> Oracle Corporation Common Stock</td></tr>
<tr><td>WFC</td><td> Wells Fargo & Company Common Stock</td></tr>
<tr><td>CRM</td><td> Salesforce.com Inc Common Stock</td></tr>
<tr><td>DHR</td><td> Danaher Corporation Common Stock</td></tr>
<tr><td>QCOM</td><td> QUALCOMM Incorporated Common Stock</td></tr>
<tr><td>MRK</td><td> Merck & Company Inc. Common Stock (new)</td></tr>
<tr><td>INTC</td><td> Intel Corporation Common Stock</td></tr>
<tr><td>UPS</td><td> United Parcel Service - Inc. Common Stock</td></tr>
<tr><td>MCD</td><td> McDonald's Corporation Common Stock</td></tr>
</tbody>
</table>
<br>
<br>

 {{{body}}}